<div
        class="py-2 w-full border-2 border-dashed rounded-lg flex flex-col items-center justify-center
        transition duration-300 ease-in-out hover:bg-gray-100 hover:border-gray-400"
        [ngClass]="{ 'bg-gray-200': isHovering }"
        (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)"
        (drop)="onDrop($event)"
>
    <mat-icon class="text-gray-500">cloud_upload</mat-icon>
    <p class="text-gray-500">Drag & Drop files here</p>
    <p class="text-sm text-gray-400">or</p>
    <button mat-button color="primary" (click)="fileInput.click()">Select Files</button>
    <input type="file" #fileInput multiple class="hidden" (change)="onFileSelect($event)" />
</div>
