<mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav
        position="end"
        [attr.role]="'navigation'"
        [mode]="isHandheld() ? 'over' : 'side'"
        [opened]="drawerService.isOpen()"
        (openedStart)="drawerService.isOpen.set(true)"
        (closedStart)="drawerService.isOpen.set(false)"
        class="app-sidenav">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content class="app-sidenav-content">
        <div class="p-2 flex flex-col">
            <app-header></app-header>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
