.app-sidenav-container {
  height: 100%;
}

.app-sidenav-content {
  @media (min-width: 960px) {
    display: grid;
    grid: auto-flow / 0.7fr 1fr;
  }
}

.left-content,
.right-content {
  max-height: 100%;
  overflow-y: auto;
  @media (pointer: fine) {
    &::-webkit-scrollbar {
      background-color: transparent;
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
    }
  }
}

.tab-scroll {
  overflow-y: auto;
  --toolbar-height: var(--mat-toolbar-standard-height);
  --tab-header-height: var(--mdc-secondary-navigation-tab-container-height) - 1px;
  max-height: calc(100dvh - var(--toolbar-height) - var(--tab-header-height));

  @media (max-width: 599.98px) {
    --toolbar-height: var(--mat-toolbar-mobile-height);
  }
}
