<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav
    #drawer
    position="end"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    class="app-sidenav"
  >
    <app-sidenav (closeDrawer)="drawer.close()"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content class="app-sidenav-content">
    @if (isHandset$ | async){
      <button mat-icon-button class="absolute top-0 right-0 z-10 m-2"
              (click)="drawer.open()">
        <mat-icon class="mb-1">menu</mat-icon>
      </button>
    }
    <button mat-button (click)="opanSnackBar()">open snack</button>
    <button mat-button (click)="opanSnackBarSuccess()">snack success</button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
