<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav
    #drawer
    class="app-sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <app-sidenav (closeDrawer)="drawer.close()"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content class="app-sidenav-content">
    <mat-tab-group fitInkBarToContent class="m3-primary-tab">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">palette</mat-icon>
          Build
        </ng-template>
        <div class="tab-scroll">
          <ng-container *ngTemplateOutlet="leftContentTemplate"></ng-container>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">preview</mat-icon>
          Preview
        </ng-template>
        <div class="tab-scroll">
          <ng-container *ngTemplateOutlet="rightContentTemplate"></ng-container>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #leftContentTemplate>
  <ng-content select="[left-content]"></ng-content>
</ng-template>
<ng-template #rightContentTemplate>
  <ng-content select="[right-content]"></ng-content>
</ng-template>
