<div class="flex-col">
  <div class="flex justify-center text-xl pb-1">
    <h1>{{ 'login_to_your_account' | translate }}</h1>
  </div>
  <div class="flex justify-center">
    <button mat-flat-button (click)="loginWithGoogle()">
      <mat-icon svgIcon="google_logo"></mat-icon>
      {{ 'login.google' | translate }}
    </button>
  </div>
  <div>
    <div class="p-2 flex flex-col justify-center items-center">
      <mat-divider class="w-full"></mat-divider>
      <span class="opacity-60 text-xs">{{ 'or_use_email' | translate }}</span>
    </div>
  </div>

  <div>
    <mat-form-field class="w-full pb-1">
      <mat-label>{{ 'enter_your_email' | translate }}</mat-label>
      <input
        matInput
        placeholder="jaan.jalgratas@example.com"
        [formControl]="email"
        (blur)="updateErrorMessage()"
        required
      />
      <mat-icon matSuffix>email</mat-icon>
      @if (email.invalid) {
        <mat-error>{{ errorMessage() }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="w-full pb-1">
      <mat-label>Enter your password</mat-label>
      <input matInput />
      <button
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <mat-checkbox class="example-margin" [(ngModel)]="rememberMe">{{ 'remember_me' | translate }}</mat-checkbox>
</div>
