{
    "semi": true,
    "singleQuote": true,
    "printWidth": 160,
    "tabWidth": 4,
    "trailingComma": "none",
    "bracketSameLine": true,
    "quoteProps": "consistent",
    "tailwindConfig": "./tailwind.config.js",
    "plugins": ["prettier-plugin-tailwindcss"]
}
