<div class="relative flex h-full max-w-48 flex-col items-center px-1">
    @if (menuItems().length > 0) {
        <nav class="mt-2 flex h-full flex-col justify-start justify-items-start" [@listAnimation]="animationState()">
            @for (item of menuItems(); track $index) {
                @if (item.component && item.show) {
                    <ng-container *ngComponentOutlet="item.component"></ng-container>
                } @else if (item.show) {
                    <a
                        [routerLink]="item.href"
                        routerLinkActive="active"
                        #link="routerLinkActive"
                        [attr.aria-current]="link.isActive"
                        role="link"
                        (click)="onClick()"
                        class="section-link h-auto w-auto px-1">
                        @if (item.logo) {
                            <img alt="Logo" class="relative mt-2 size-16" src="{{ item.logo }}" />
                        }
                        @if (item.icon) {
                            <mat-icon>{{ item.icon }}</mat-icon>
                        }
                        @if (item.label) {
                            <div class="text-xs">{{ item.label | translate }}</div>
                        }
                    </a>
                }
            }
        </nav>
    }
    <div class="dark-mode-switch-container">
        <app-dark-mode-switch variant="compact"></app-dark-mode-switch>
    </div>
</div>
