<div class="flex flex-col h-full relative items-center px-1">
  @if (menuItems.length > 0) {
    <nav class="flex flex-col justify-items-start justify-start mt-2 h-full" [@listAnimation]="animationState()">
      @for (item of menuItems; track $index) {
        <a
          [routerLink]="item.href"
          routerLinkActive="active"
          #link="routerLinkActive"
          [attr.aria-current]="link.isActive"
          role="link"
          class="section-link w-auto h-auto"
          (click)="item.onClick && item.onClick()"
        >
          @if (item.logo) {
            <img alt="Logo" class="size-16 mt-2 relative" [ngSrc]="item.logo" fill priority/>
          }
          @if (item.icon) {
            <mat-icon>{{ item.icon }}</mat-icon>
          }
          @if (item.label) {
            <div class="text-xs">{{ item.label | translate }}</div>
          }
        </a>
      }
    </nav>
  }
  <div class="dark-mode-switch-container">
    <app-dark-mode-switch variant="compact"></app-dark-mode-switch>
  </div>
</div>
