<div class="nav-rail-container">
  <a class="section-link home-link" routerLink="/">
    <img alt="Logo" height="42" src="assets/img/logo.svg"/>
  </a>
  <nav class="nav-rail-content">
    @for (item of rootMenuItems; track $index) {
      <a
        [routerLink]="item.href"
        routerLinkActive="active"
        #link="routerLinkActive"
        [attr.aria-current]="link.isActive"
        role="link"
        class="section-link"
        (click)="item.onClick && item.onClick()"
      >
        <mat-icon>{{ item.icon }}</mat-icon>
        <div class="label">{{ item.label }}</div>
      </a>
    }
  </nav>
  <div class="dark-mode-switch-container">
    <app-dark-mode-switch variant="compact"></app-dark-mode-switch>
  </div>
</div>
