<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      @for (item of rootRoutes; track $index) {
      <a
        mat-list-item
        [routerLink]="item.path"
        #link="routerLinkActive"
        routerLinkActive
        [activated]="link.isActive"
      >
        {{ item.title }}
      </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav
    #themeDrawer
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    position="end"
    [opened]="(isHandset$ | async) === false"
  >
    <div class="flex-center">
      <lib-copy-css></lib-copy-css>
      <lib-share-url></lib-share-url>
    </div>
    <div class="flex-center">
      <lib-color-mode></lib-color-mode>
    </div>
    <app-theme-changer [tabTopGap]="82"></app-theme-changer>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <span>angular-material-themes</span>
      <button
        mat-icon-button
        (click)="themeDrawer.toggle()"
        class="theme-changer-btn"
        [matTooltip]="
          (themeDrawer.opened ? 'Close' : 'Open') + ' theme changer'
        "
      >
        <mat-icon>palette</mat-icon>
      </button>
    </mat-toolbar>
    <div class="sidenav-scroll-wrapper">
      <div class="sidenav-content">
        <ng-content></ng-content>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
