// alert.scss

.alert {
  position: relative;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;

  hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 0.25;
    height: 1px;
  }

  .alertHeading {
    color: inherit;

    mat-icon {
      color: currentColor;
      vertical-align: middle;
      font-size: 20px;
      //   line-height: inherit;
      height: 20px;
      width: 20px;
    }
  }

  .alert-link {
    font-weight: 700;
  }

  .alert-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }

  .alertFooter {
    margin-bottom: 0;
  }
}
