@use "@angular/material" as mat;

/* Light Theme */
:root, :host {
  @include mat.theme-overrides((
    primary: #546500,
    on-primary: #ffffff,
    primary-container: #d0f04f,
    on-primary-container: #181e00,
    inverse-primary: #b5d334,
    primary-fixed: #d0f04f,
    primary-fixed-dim: #b5d334,
    on-primary-fixed: #181e00,
    on-primary-fixed-variant: #3f4c00,
    secondary: #586428,
    on-secondary: #ffffff,
    secondary-container: #dbea9f,
    on-secondary-container: #181e00,
    secondary-fixed: #dbea9f,
    secondary-fixed-dim: #bfcd85,
    on-secondary-fixed: #181e00,
    on-secondary-fixed-variant: #404b11,
    tertiary: #006e2c,
    on-tertiary: #ffffff,
    tertiary-container: #7ffc94,
    on-tertiary-container: #002108,
    tertiary-fixed: #7ffc94,
    tertiary-fixed-dim: #62df7b,
    on-tertiary-fixed: #002108,
    on-tertiary-fixed-variant: #00531f,
    background: #fcf9f6,
    on-background: #1c1b1a,
    surface: #fcf9f6,
    surface-dim: #ddd9d7,
    surface-bright: #fcf9f6,
    surface-container-lowest: #ffffff,
    surface-container-low: #f7f3f0,
    surface-container: #f1edeb,
    surface-container-high: #ebe7e5,
    surface-container-highest: #e5e2df,
    on-surface: #1c1b1a,
    shadow: #000000,
    scrim: #000000,
    surface-tint: #5e5f52,
    inverse-surface: #31302f,
    inverse-on-surface: #f4f0ee,
    outline: #78776f,
    outline-variant: #c8c7bc,
    neutral: #797775,
    neutral10: #1c1b1a,
    error: #ba1a1a,
    error-container: #ffdad6,
    on-error: #ffffff,
    on-error-container: #410002,
    surface-variant: #e4e3d7,
    on-surface-variant: #47473f,
    neutral-variant: #78786f,
    neutral-variant20: #303129,
    inverse-secondary: #bfcd85,
    inverse-tertiary: #62df7b,
  ));
}

/* Dark Theme */
.dark {
  @include mat.theme-overrides((
    primary: #b5d334,
    on-primary: #2a3400,
    primary-container: #3f4c00,
    on-primary-container: #d0f04f,
    inverse-primary: #546500,
    primary-fixed: #d0f04f,
    primary-fixed-dim: #b5d334,
    on-primary-fixed: #181e00,
    on-primary-fixed-variant: #3f4c00,
    secondary: #bfcd85,
    on-secondary: #2b3400,
    secondary-container: #404b11,
    on-secondary-container: #dbea9f,
    secondary-fixed: #dbea9f,
    secondary-fixed-dim: #bfcd85,
    on-secondary-fixed: #181e00,
    on-secondary-fixed-variant: #404b11,
    tertiary: #62df7b,
    on-tertiary: #003913,
    tertiary-container: #00531f,
    on-tertiary-container: #7ffc94,
    tertiary-fixed: #7ffc94,
    tertiary-fixed-dim: #62df7b,
    on-tertiary-fixed: #002108,
    on-tertiary-fixed-variant: #00531f,
    background: #141312,
    on-background: #e5e2df,
    surface: #141312,
    surface-dim: #141312,
    surface-bright: #3a3938,
    surface-container-lowest: #0e0e0d,
    surface-container-low: #1c1b1a,
    surface-container: #201f1e,
    surface-container-high: #2a2a29,
    surface-container-highest: #353533,
    on-surface: #e5e2df,
    shadow: #000000,
    scrim: #000000,
    surface-tint: #c7c7b7,
    inverse-surface: #e5e2df,
    inverse-on-surface: #31302f,
    outline: #929188,
    outline-variant: #47473f,
    neutral: #797775,
    neutral10: #1c1b1a,
    error: #ffb4ab,
    error-container: #93000a,
    on-error: #690005,
    on-error-container: #ffdad6,
    surface-variant: #47473f,
    on-surface-variant: #c8c7bc,
    neutral-variant: #78786f,
    neutral-variant20: #303129,
    inverse-secondary: #586428,
    inverse-tertiary: #006e2c,
  ));
}
