<div class="flex h-10 w-10 items-center justify-center overflow-hidden rounded-full">
    <img
        *ngIf="account.photoURL; else fallback"
        [src]="account.photoURL"
        alt="Profile"
        class="h-full w-full object-cover" />
    <ng-template #fallback>
        <div
            class="flex h-full w-full items-center justify-center rounded-full text-center text-lg font-medium"
            [ngStyle]="{ 'background-color': backgroundColor, 'color': textColor }">
            <span class="pt-[2px]">
                {{ initials }}
            </span>
        </div>
    </ng-template>
</div>
