@if (account(); as account) {
    <div class="flex h-full w-full items-center justify-center overflow-hidden rounded-full">
        @if (account?.photoURL) {
            <button
                [routerLink]="['/account']"
                [queryParams]="{ id: account?.uid }"
                class="flex h-full w-full items-center justify-center overflow-hidden rounded-full border-none p-0"
                [attr.aria-label]="'your_profile' | translate"
                [ngStyle]="{
                    'background-image': 'url(' + account.photoURL + ')',
                    'background-size': 'cover',
                    'background-position': 'center'
                }"></button>
        } @else {
            <button
                [routerLink]="['/profile']"
                class="flex h-full w-full items-center justify-center overflow-hidden rounded-full border-none p-0"
                [attr.aria-label]="'your_profile' | translate">
                <div
                    class="flex h-full w-full items-center justify-center rounded-full text-lg font-medium"
                    [ngStyle]="{ 'background-color': backgroundColor, 'color': textColor }">
                    <span class="pt-[0.125rem] text-center">
                        {{ initials }}
                    </span>
                </div>
            </button>
        }
    </div>
}
