@use '@angular/material' as mat;

@include mat.core();

$my-theme: mat.define-theme((
  color: (
    theme-type: light,
  ),
));

html {
  @include mat.core-theme($my-theme);
  @include mat.all-component-themes($my-theme);
}
