<mat-card class="m-2 flex flex-row items-center justify-between p-2">
    <div>
        <p>{{ event.title || 'Untitled Event' }}</p>
        <p>{{ event.startTime | date: 'shortTime' }} - {{ event.endTime | date: 'shortTime' }}</p>

        @if (event.status === EventStatus.DRAFT) {
            <p class="flex items-center gap-2">
                <mat-icon class="icon-sm text-gray-600">cloud</mat-icon>
                <app-info [text]="'Visand'"></app-info>
            </p>
        } @else if (event.status === EventStatus.REVIEW) {
            <p class="flex items-center gap-2">
                <mat-icon class="icon-sm text-green-600">hourglass_empty</mat-icon>
                <app-info [text]="'Kinnitamisel'"></app-info>
            </p>
        } @else if (event.status === EventStatus.PUBLISHED) {
            <p class="flex items-center gap-2">
                <mat-icon class="icon-sm text-green-600">done_all</mat-icon>
                <app-info [text]="'Avalikustatud'"></app-info>
            </p>
        } @else if (event.status === EventStatus.REJECTED) {
            <p class="flex items-center gap-2">
                <mat-icon class="icon-sm text-red-600">block</mat-icon>
                <app-info [text]="'Tagasilükatud'"></app-info>
            </p>
        }
    </div>
    <div class="flex flex-row">
        <button mat-icon-button (click)="viewEvent()">
            <mat-icon class="mb-1">visibility</mat-icon>
        </button>
    </div>
</mat-card>
