<div class="flex flex-row items-center justify-center">
  <div mat-dialog-title class="pr-2">We value your privacy</div>
  <mat-icon class="mr-4 mt-4">cookie</mat-icon>
</div>

<mat-dialog-content>
  We use cookies and other tracking technologies on our website, some of which are placed by third parties. We do this
  to ensure the functionalities on the site, measure and analyze user traffic and create general statistics regarding
  the use of the page, as well as for targeted marketing, such as retargeting. By clicking on "Accept All", you agree
  that we and third parties may place cookies for these purposes and that we and third parties may use your collected
  personal information (e.g. IP address, device ID and browsing behavior) in the context of targeted marketing. Our
  processing of collected personal data for the other purposes are based on our legitimate interest, cf. GDPR article 6,
  1 (f). Under "Cookie settings" you can choose which specific cookies you consent to. If you disable all cookies, you
  will only use the strictly necessary cookies. At all times you can change or withdraw your consent to the placement of
  cookies and the processing of personal data. For further information, please read our Cookie Policy and Privacy
  Policy. Google’s Privacy & Terms site
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button>Cookie settings</button>
  <button mat-stroked-button>Reject all</button>
  <button class="bg-green-200 dark:bg-green-1050" mat-stroked-button cdkFocusInitial>Accept all</button>
</mat-dialog-actions>
