<div class="max-w-lg flex flex-col">
  <div class="flex flex-row justify-center items-center">
    <h2 class="text-xl m-2">{{ 'install_pwa' | translate }}</h2>
  </div>

  <div class="text-sm">
    <div class="flex flex-col self-center text-center">
      <span>
    {{ 'pwa_description' | translate }}
      </span>
      <span class="flex flex-row justify-center items-center my-2">
    <ng-container *ngTemplateOutlet="currentTemplate"></ng-container>

      </span>
    </div>


    <section class="flex flex-row justify-between">
      <div class="flex items-center my-2">
        <mat-slide-toggle class="text-base" (change)="dontShowAgain($event.checked)">
          {{ 'dont_show_this_again' | translate }}
        </mat-slide-toggle>
        <app-info [text]="'checking_will_prevent' | translate"></app-info>
      </div>
      <button mat-raised-button (click)="pwaService.triggerInstall()">Install</button>
    </section>
  </div>

  <ng-template #chromeWeb>
    <mat-icon class="text-4xl size-auto">install_desktop</mat-icon>
  </ng-template>

  <ng-template #chromeAndroid>
    <mat-icon class="text-4xl size-auto">more_vert</mat-icon>
    <mat-icon>chevron_right</mat-icon>
    <mat-icon class="text-4xl size-auto">add_to_home_screen</mat-icon>
  </ng-template>

  <ng-template #chromeIos>
    <mat-icon class="text-4xl size-auto">more_vert</mat-icon>
    <mat-icon>chevron_right</mat-icon>
    <mat-icon class="text-4xl size-auto">add_to_home_screen</mat-icon>
  </ng-template>

  <ng-template #safariIos>
    <mat-icon class="text-4xl size-auto">ios_share</mat-icon>
    <mat-icon>chevron_right</mat-icon>
    <mat-icon class="text-4xl size-auto">add_box</mat-icon>
  </ng-template>

  <ng-template #other>
    <mat-icon class="text-4xl size-auto">more_vert</mat-icon>
    <mat-icon>chevron_right</mat-icon>
    <mat-icon class="text-4xl size-auto">add_to_home_screen</mat-icon>
  </ng-template>
</div>
