<nav class="flex items-center justify-center space-x-2 text-sm text-gray-600">
    <a [routerLink]="'/'">
        <mat-icon>home</mat-icon>
    </a>

    <span *ngFor="let crumb of breadcrumbs(); let last = last" class="flex items-center">
        <mat-icon>chevron_right</mat-icon>

        <ng-container *ngIf="crumb.label === '...'">
            <span class="">...</span>
        </ng-container>

        <ng-container *ngIf="crumb.label !== '...'">
            <a [routerLink]="crumb.url" class="pl-2">
                {{ crumb.label }}
            </a>
        </ng-container>
    </span>
</nav>
