@use 'styles/tokens';
@use '@angular/material' as mat;
@use "./styles/_theme-colors.scss" as theme-colors;
@forward 'styles/sidenav';
@forward 'styles/dialogue';
@forward 'styles/icon-sizes';
@forward "styles/global";
@forward "styles/snackbar";
@forward "styles/mat-error";
@forward "styles/material-override";

html {
  @include mat.theme(
      (
        color: (
          theme-type: light,
          primary: theme-colors.$primary-palette,
          tertiary: theme-colors.$tertiary-palette,
        ),
        typography: Roboto,
        density: 0,
      )
  );
}

html,
body {
  overflow: hidden;
  height: 100%;
  max-height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
