@use '../m3-theme';
@use '@angular/material' as mat;
@use 'styles/component-themes';
@use 'styles/sidenav';
@use 'styles/switch';
@use 'styles/utils';
@use 'styles/scroll';
@use 'styles/tabs';
@use 'styles/variables';
@use 'styles/material-override';

@tailwind base;
@tailwind components;
@tailwind utilities;
@include mat.core();

$theme: m3-theme.$light-theme;
$dark-theme: m3-theme.$dark-theme;

:root {
  @include mat.all-component-themes($theme);
  @include component-themes.theme($theme);
  @include mat.color-variants-backwards-compatibility($theme);
  @include mat.system-level-colors($theme);
  @include mat.system-level-typography($theme);

  @media (prefers-color-scheme: dark) {
    @include mat.all-component-colors($dark-theme);
    @include component-themes.theme($dark-theme);
    @include mat.color-variants-backwards-compatibility($dark-theme);
    @include mat.system-level-colors($dark-theme);
  }
}

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: #{variables.$regular-font-family};
  font-size: #{variables.$text-font-size};
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 0s 600000s,
    color 0s 600000s !important;
}

a {
  @apply hover:underline text-sm;
  color: var(--sys-primary) !important;
}

label {
  @apply text-sm;
}

mat-tooltip-component {
  @apply text-center;
}

app-bottom-sheet {
  @apply flex justify-center items-center;
}
